@model IEnumerable<ProgrammingForum_ASPNETCore.Models.PostModels.PostListingModel>


<form asp-action="Posts" method="get">
    <div class="form-actions no-color">
        <p>
            Find post in Topic: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <button type="submit" class="btn btn-outline-secondary"> <i class="fa-solid fa-magnifying-glass"></i> </button> |
            @*<a asp-action="Index">Back to Full List</a>*@
        </p>
    </div>
</form>

<div>
    @if (Model != null)
    {
        @foreach (ProgrammingForum_ASPNETCore.Models.PostModels.PostListingModel post in Model)
        {
            <p>@Html.DisplayFor(m => post.Description) </p>
            <p>@Html.DisplayFor(m => post.AuthorName) </p>

            @*<p>@Html.ActionLink(post.Description, "", "") </p>*@
        }
    }
</div>

@{
    var prevDisabled = ViewData["prevDisabled"];
    var nextDisabled = ViewData["nextDisabled"];
}

<a asp-action="Posts"
   asp-route-page="@((int)ViewData["pageIndex"] - 1)"
   asp-route-searchString="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Posts"
   asp-route-page="@((int)ViewData["pageIndex"] + 1)"
   asp-route-searchString="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>