@model ProgrammingForum_ASPNETCore.Models.PostModels.PostCreateModel

<div class="text-center">
    <h2> Create post </h2>
</div>
<hr />

<div class="d-flex justify-content-center">
    <div class="text-center col-6">
        @using (Html.BeginForm("CreatePost", "Post", FormMethod.Post))
        {
            <div class="form-horizontal">

                <div class="form-group">
                    <div class="col-md-12">
                        <label class="text-light">Question</label>
                        @Html.TextAreaFor(model => model.Description,  new { @class = "form-control", placeholder="Ask your question", rows="2"})
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12 pt-2">
                        <label class="text-light">Detailed description</label>
                        @Html.TextAreaFor(model => model.Content, new { @class = "form-control", placeholder="Describe your problem", rows="5"})
                        @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                    </div>
                </div>

                <hr />
                <div class="form-group">
                    <div class="col-md-offset-2">
                        <p>@ViewBag.Message</p>
                        <input type="submit" value="Create post" class="btn btn-secondary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
