@model IEnumerable<ProgrammingForum_ASPNETCore.Models.PostModels.PostListingModel>


<div>
    @if (Model != null)
    {
        @foreach (ProgrammingForum_ASPNETCore.Models.PostModels.PostListingModel post in Model)
        {
            <p>@Html.DisplayFor(m => post.Description) </p>
            <p>@Html.DisplayFor(m => post.AuthorName) </p>
        }
    }
</div>

<a asp-action="SearchPosts"
   asp-route-page="@((int)ViewData["pageIndex"] - 1)"
   asp-route-searchString="@ViewData["CurrentFilter"]"
   class="btn btn-default @ViewData["prevDisabled"]">
    Previous
</a>
<a asp-action="SearchPosts"
   asp-route-page="@((int)ViewData["pageIndex"] + 1)"
   asp-route-searchString="@ViewData["CurrentFilter"]"
   class="btn btn-default @ViewData["nextDisabled"]">
    Next
</a>